%j-sBold {
  font-family: 'Josefin Sans' , sans-serif;
  font-weight: 700;
}
%j-sReg {
  font-family: 'Josefin Sans' , sans-serif;
  font-weight: 400;
}
%j-sSbold {
  font-family: 'Josefin Sans' , sans-serif;
  font-weight: 600;
}


/////////////////////////////////////////////////////////////////////////
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body{
  @extend %j-sBold;
  min-width: 320px;
  min-height: 100%;
  font-size: 18px;
  background: #FFECFB;
}

a{
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

li {
  list-style-type: none;
}
///////////////////////////////
.wrapper{
  overflow: hidden;
  position: relative;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;
}

.hidden{
  overflow: hidden;
}

.main{
  flex: 1 1 auto;
}
.header {
  padding: 22px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  z-index: 10;

  &.back{
    &::after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      content: '';
  
      height: 100vh;
      width: 100vw;
  
      background:  rgba(23, 17, 71, 0.5);
    }
  }
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__burger{
    display: none;
    height: 35px;
    width: 45px;

    border: none;
    background: none;

    background: url('../img/header/burger_icon.svg') center no-repeat;

    @media (max-width: 968px) {
      display: block;
    }
  }

  &__logo {
    background: linear-gradient(181.4deg, #2E2594 -10.1%, #F73B6C 255.25%);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    line-height: 47px;
    @extend %j-sBold;

    white-space: nowrap;
    padding-right: 30px;
  }

  &__menu-wrapper {
    display: flex;
    align-items: center;
    @media (max-width: 968px) {
      flex-direction: column;

      position: absolute;
      top: 0;
      right: 0;

      transform: translateX(100%);
      transition: all 0.5s ease;

      z-index: 2;

      padding: 30px;
    
      min-width: 40%;
    
      background: #332B5C;
      height: 100vh;
    }
    @media (max-width: 676px) {
      min-width: 60%;
    }
    &.active-menu{
      transform: translateX(0);
    }
  }

  &__nav {
    margin-right: 30px;
    @media (max-width: 968px) {
      margin-right: 0;
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 968px) {
      flex-direction: column;
    }
  }

  &__nav-item {
    list-style-type: none;

    margin-right: 50px;
    &:last-child{
      margin-right: 0;
    }
    @media (max-width: 968px) {
      width: 100%;
      text-align: center;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__nav-link {
    font-size: 18px;
    line-height: 24px;
    color: #2E2594;

    display: inline-block;

    transition: all 0.3 ease;
    &:hover{
      opacity: 0.7;
    }
    @media (max-width: 968px) {
      color: #FFECFB;
      font-size: 20px;
      padding: 15px;
    }
  }
  &__close-btn{
    height: 30px;
    width: 30px;

    display: none;
    background: none;
    border: none;

    position: absolute;
    top: 10px;
    right: 10px;
    &::after,&::before{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;

      height: 2px;
      width: 30px;

      background: #FFECFB;
    }
    &::after{
      transform: rotate(45deg);
    }
    &::before{
      transform: rotate(-45deg);
    }
    @media (max-width: 968px) {
      display: block;
    }
  }
}



.btn-started {
  padding: 13px 34px 13px 35px;

  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;

  display: block;
  text-align: center;
  
  background: #B53071;
  border-radius: 25px;
  transition: all 0.3 ease;
  white-space: nowrap;
}
//////////////////////////////////////////////////
.main-page {
  padding: 85px 0 0 ;

  position: relative;
  background: url('../img/header/header-bg1.png'), url('../img/header/header-bg2.png') ;
  background-position: center;
  background-size: cover;
  &::before {
    content: '';
    height: 160px;
    width: 50px;
    position: absolute;
    background: url('../img/header/decor-ellipse1.svg') no-repeat;
    top: 100px;
    left: 0;
  }
  &::after{
    content: '';
    height: 160px;
    width: 40px;
    position: absolute;
    background: url('../img/header/decor-ellipse2.svg') no-repeat;
    top: 50px;
    right: 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text-content {
    max-width: 520px;
    z-index: 2;
    position: relative;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 36px;
    max-width: 400px;
    font-size: 58px;
    line-height: 117%;
    color: #171147;
    @media (max-width: 1000px) {
      font-size: 48px;
      margin-bottom: 45px;
    }
    &--white{
      display: inline-block;

      font-size: 44px;
      line-height: 155%;
      color: #F2F2F2;

      transform: rotate(-15deg) ;
      position: relative;
      z-index: 1;
      @media (max-width: 1000px) {
        font-size: 37px;
      }
      &:before{
        content: '';
        position: absolute;
        top: -12px;
        left: -10px;

        background: url('../img/header/joistick.svg') no-repeat;

        width: 145px;
        height: 122px;
        
        transform: rotate(15deg);
        z-index: -1;
      }
    }
    &--red{
      color: #D5356F;
    }
  }

  &__text {
    margin-bottom: 40px;
  }

  &__wrapper-btns {
    display: flex;
    align-items: center;
    @media (max-width: 930px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__line{
    position: absolute;
    top: 340px;
    left: -210px;

    background: url('../img/header/line.svg');

    width: 569px;
    height: 355px;
    @media (max-width: 1230px) {
      display: none;
    }
  }

  &__watch-btn {
    font-size: 18px;
    line-height: 133%;
    color: #2E299A;

    position: relative;
    padding: 8px 0 8px 50px ;
    white-space: nowrap;
    &:before{
      content: '';
      position: absolute;
      background: url('../img/header/watch.svg');
      height: 36px;
      width: 40px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    @media (max-width: 930px) {
      margin-left: 20px;
    }
  }

  &__started-btn{
    margin-right: 30px;
    @media (max-width: 930px) {
      margin: 0 0 20px;
    }
  }

  &__img {
    margin-right: -100px;
    position: relative;

    @media (max-width: 1000px) {
      min-width: 520px;
    }
    @media (max-width: 800px) {
      position: absolute;
      max-width: 520px;
      margin-right: 0;
      right: 0;
      opacity: 0.5;
    }
    @media (max-width: 600px) {
      opacity: 0.3;
      left: 0;
    }
  }
}

.text {
  @extend %j-sSbold;
    font-size: 18px;
    line-height: 133%;
    color: #332B5C;
    @media (max-width: 1000px) {
      font-size: 16px;
    }
}

.suptitle{
  font-size: 20px;
  line-height: 24px;
  color: #2E299A;

  margin-bottom: 30px;

  @media (max-width: 930px) {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.about {
  padding: 35px 0 175px;

  background: url('../img/about/about-bg.png'), url('../img/about/about-bg2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: 1000px) {
    padding: 35px 0 60px;
  }
  &__img {
    padding-right: 40px;
    position: relative;
    min-width: 350px;
    @media (max-width: 690px) {
      padding: 0 0 30px;
    }
  }
  &__girl-img{
    position: absolute;
    top: 125px;
    left:-25px;

    background: url('../img/about/about-girl.svg');
    height: 91px;
    width: 90px;
    
    animation: mymove 1s infinite ease-in-out;
    animation-timing-function: linear;
    animation-direction: alternate;

    @media (max-width: 1100px) {
      top: 20px;
      right: 45px;
      left: auto;
    }
  }
  @keyframes mymove {
    from{
      transform: translateY(0);
    }
    to{
      transform: translateY(15px);
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 690px) {
      flex-direction: column;
    }
  }

  &__text-content {
    max-width: 570px;
  }

  &__title {
    margin-bottom: 33px;
    &--red{
      display: inline-block;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        
        height: 2px;
        width: 290px;
        transform: rotate(-0.74deg);
        background: linear-gradient(268.82deg, #2E2594 0%, #F73B6C 97.99%);
      }
    }
  }

  &__text {
    margin-bottom: 30px;
    max-width: 540px;
  }
}
.modify-title {
  font-size: 50px;
  line-height: 108%;
  color: #171147;
  &__red{
    color: #842774;
  }
  @media (max-width: 1000px) {
    font-size: 44px ;
  }
}
.btn-arrow {
  display: inline-flex;
  align-items: center ;

  position: relative;

  padding: 13px 83px 13px 43px;
  background: #B53071;
  border-radius: 25px;

  font-size: 18px;
  line-height: 133%;
  color: #FFFFFF;
  
  transition: all 0.3s ease;
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      right: 42px;

      transform: translateY(-50%);

      background: url('../img/arrow.svg');

      height: 14px;
      width: 33px;
      transition: all 0.5s ease;
    } 
    &:hover{
      &::before{
        right: 25px;
      }
    } 
}

